{% load static %}
<!-- Experience Card 1-->
<div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">2023 - Estudiante</div>
                    <div class="small fw-bolder">Universidad Manuela Beltrán</div>
                    <div class="small text-muted">Desarrollador Web</div>
                    <div class="small text-muted">Software Seguro</div>
                </div>
            </div>
            <div class="col-lg-8"><div>Aptitudes: AngularJS · Django · Django REST framework · Bases de datos · Servicios web · Administración de servidores</div></div>
        </div>
    </div>
</div>